<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
</head>
<body>
    <h1>Dashboard</h1>
    <p>Welcome, {{ user.Username }}!</p>

    <h2>Create a Chatroom</h2>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <form action="{{ url_for('dashboard') }}" method="post">
        <label for="phone_num">Enter Phone Number:</label>
        <input type="text" id="phone_num" name="phone_num" required>
        <input type="submit" value="Start Chat">
    </form>

    {% if chatrooms %}
        <h2>Existing Chatrooms</h2>
        <ul>
            {% for chatroom in chatrooms %}
                <li><a href="{{ url_for('chat', chat_id=chatroom.id) }}">{{ chatroom.id }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No existing chatrooms available.</p>
    {% endif %}
</body>
</html>
