<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.0/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../static/dashboard.css">
    <title>Dashboard</title>
</head>
<style>
    .col{
    background-color:  #193649 !important;
}
.navbar-brand{
    position: relative;
    /* left: 42vw; */
    color: #fff;
    font-size: 2rem;
}
.navbar-brand:hover{
    color: #9FE2BF;
}

.glass{
  background: linear-gradient(135deg,rgba(255, 255, 255, 0.1),rgba(255, 255, 255, 0.242))!important;
  backdrop-filter: blur(300px)!important;
  -webkit-backdrop-filter: blur(40px)!important;
  border: 1px solid rgba(255,255,255,0.18)!important;
  align-items: center!important;
}
  </style>
<body>
      <nav class="navbar bg-body-tertiary col">
        
        <div class="container-fluid">
          <button type="button" class="btn btn-outline-success" onclick="authors()">Authors</button>
          <a class="navbar-brand" href="{{ url_for('index') }}">
            <img src="../static/logo.png" alt="Logo" width="50" height="50" class="d-inline-block align-text-top">
            Conversa
          </a>
          <button class="btn btn-outline-danger" style="color:white" onclick="login()">LogOut</button>
        </div>
      </nav>
    <div class="container">
        <div class="left-section glass">
            <h2>
                <span style="color: #fff;">Create a</span>
                <span style="color: #57abe3;">New Chat</span>
            </h2>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
            <form action="{{ url_for('dashboard') }}" method="post">
                <label for="phone_num">Enter Phone Number:</label>
                <input type="text" id="phone_num" name="phone_num" required>
                <input type="submit" value="Start Chat">
            </form>
        </div>
        <div class="mid-section bg-body-tertiary glass">
            <!-- Content for the left section 2 -->
            {% if chatrooms %}
                <h2 style="color: #57abe3;">Previous Chats</h2>
                <ul>
                    {% for chatroom in chatrooms %}
                        <li><a href="{{ url_for('chat', chat_id=chatroom.id) }}" >{{chatroom.username}}</a></li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No existing chatrooms available.</p>
            {% endif %}
        </div>
        <div class="right-section">
            <img src="" alt="Image">
        </div>
    </div>
</body>
<script>
    function login() {
      window.location.href = "{{ url_for('login') }}";
    }
    function authors() {
      window.location.href = "{{ url_for('authors') }}";
    }
  </script>
</html>
